
.error-message {
	background:	rgb(255,200,200);
	border:		2px solid red;
	padding:	.5em;
	margin:		1em;
}
.confirm-message {
	background:	rgb(200,255,200);
	border:		2px solid rgb(0,255,0);
	padding:	.5em;
	margin:		1em;
}


body {
	margin:		0;
	padding:	0;
	font-family:	sans-serif;
	font-size:	90%;
	color:		black;
	background:	white;
}
#header {
	margin:		0;
	background:	rgb(40,60,180);
	color:		white;
	padding:	.3em;
	overflow:	hidden;
}
#header a {
	color:		white;
}
#appname {
	float:		left;
}
#user {
	float:		right;
}
#nav-wrap {
	background:	rgb(210,230,255);
	margin:		0;
	padding:	.2em;
	padding-left:	1em;
}
h1 {
	margin-top:	.2em;
	margin-bottom:	.2em;
}
#main {
	padding:	1em;
	padding-top:	0;
}

#nav {
	list-style:	none;
	margin:		5px 0;
	padding:	0;
	overflow:	hidden;
	display:	table;
	font-family:	sans-serif, arial;
	font-size:	93%;
}
#nav > li {
	background:	white;
	border-left:	5px solid rgb(200,220,250);
	display:	table-cell;
	vertical-align:	top;
	margin:		5px;
	padding:	2px;
}
#nav ul {
	min-width:		8em;
	float:		left;
	list-style:	none;
	margin:		0;
	padding:	0;
}
#nav a {
	min-width:		8em;
	display:	block;
	padding:	1px;
	padding-right:	5px;
	color:		black;
	text-decoration:none;
}

#nav .ancestor {
	font-weight:	bold;
}
#nav .inactive {
	color:		rgb(128,128,128);
}
#nav .inactive.no-submission {
	background:	white;
}
#nav .no-submission {
	background:	rgb(200,192,192);
}
#nav .failed {
	background:	rgb(255,50,50);
}
#nav .passed {
	background:	rgb(150,255,100);
}
#nav .pending, #nav .judging {
	background:	rgb(245,245,100);
}

.block {
	border:		2px solid rgb(210,210,210);
	margin-top:	0em;
	margin:		1em;
	-moz-border-radius: .2em;
}
.block .title {
	background:	rgb(210,210,210);
	padding:	.1em;
	padding-left:	.2em;
	padding-top:	0;
}
.block .title span,
.block .title a {
	font-size:	130%;
	font-weight:	normal;
}
.block .title a {
	text-decoration:none;
	color:		black;
	display:	block;
}
.block .content {
	padding:	.5em;
}
.collapsed .content {
	display:	none;
}

.block hr {
	border:		0;
	height:		2px;
}

.block.failed		{ border-color:	rgb(255,100,100); }
.block.failed .title,
.block.failed hr	{ background:	rgb(255,100,100); }
.block.passed		{ border-color:	rgb(100,255,100); }
.block.passed .title	{ background:	rgb(100,255,100); }
.block.pending		{ border-color:	rgb(255,255,50); }
.block.pending .title	{ background:	rgb(255,255,50); }

.submissions {
	list-style:	none;
	margin:		0;
	margin-left:	1em;
	padding:	0;
}
.submissions li {
	margin-bottom:	1em;
}
.submissions .ordinal {
	float:		left;
	font-size:	400%;
	font-family:	sans-serif;
	margin-right:	5px;
}
.submissions .failed .ordinal {
	color:		rgb(192,0,0);
}
.submissions .passed .ordinal {
	color:		rgb(50,192,0);
}
.submissions .pending .ordinal,
.submissions .judging .ordinal {
	color:		rgb(202,192,0);
}


td, th {
	padding-right:	.5em;
	text-align:	left;
	vertical-align:	top;
}




.results {
	border:		1px solid rgb(50,50,50);
	border-collapse:collapse;
}
.results td, .results th {
	border:		1px solid rgb(50,50,50);
	padding:	2px;
}
.results .no-submission {
	background:	rgb(255,50,50);
}
.results .failed {
	background:	rgb(255,50,50);
}
.results .passed {
	background:	rgb(150,255,100);
}
.results .pending {
	background:	rgb(245,245,100);
}

.testcase-details .skipped {
	background:	rgb(192,192,192);
}
.testcase-details .failed {
	background:	rgb(255,100,100);
}
.testcase-details .passed {
	background:	rgb(100,255,100);
}

.user-list {
	margin-top:	1em;
}
.user-group {
	list-style:	disk;
	margin:		0;
	padding:	0;
	margin-left:	1em;
	margin-bottom:	.5em;
}
